/* === PÁGINA VITRINE === */
.img_desktop {
  @media (width >= 1152px) {
    min-width: 917px;
  }
}

.no-scroll {
  overflow: hidden;
}

.vitrine-page__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_nome_empresa {
  margin-top: 3rem;
}

.link-pedir-orcamento {
  margin-left: 1rem;
}

/* === FOTOS E CONTATO === */
.vitrine01-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1.5rem;
  margin-top: 2rem;
  background-color: var(--color-roxo);
}

/* === CARD CONTATO === */
.contato__vitrine {
  margin-bottom: 2rem;
}

.pedir-orcamento-modal {
  margin-top: 2rem;
}

.color-roxo {
  background-color: var(--color-roxo);
  color: var(--color-branco);
}

.color-roxo:hover {
  background-color: var(--color-dourado);
}

.label-pedido-orcamento {
  margin-top: 1rem;
}

/* === CARD INFORMAÇÕES COMPLEMENTARES === */
.vitrine02-complementares {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-roxo);
}

.vitrine-informacoes-complementares__container {
}

/* === CARD OPINIOES === */
.vitrine-opinioes__container {
  width: 92%;
  margin-top: 2rem;
}

.depoimento_noivos__container {
  padding-bottom: 2rem;
}

/* === BOTAO VOLTAR === */
.vitrine-button-voltar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0;
  background-color: var(--color-roxo);
}

.vitrine-button-voltar a {
  text-decoration: none;
  background-color: var(--color-dourado);
  color: var(--color-roxo);
  font-size: 1.25rem;
  padding: 0.25rem 2.75rem;
  border-radius: 5px;
  transition: 0.5s;
}

.vitrine-button-voltar a:hover {
  background-color: var(--color-branco);
  color: var(--color-roxo);
  padding: 0.25rem 3.5rem;
}

@media only screen and (width >= 1200px) {
  .vitrine01-principal {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .fotos__vitrine {
    max-width: 60rem;
  }

  .contato__vitrine {
    width: 30%;
    margin: 0;
  }

  .vitrine02-complementares {
    padding: 2rem 0;
  }
}

@media (width <= 1152px) {
  .vitrine-fotos__container .carousel-item div.image {
    padding-top: 80%;
  }
}

/* custom */

section.vitrine-marketplace {
  padding: 0 0 12rem;
}

.fontePrincipal-regular {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
}

div.perfil div.content div.title div.maisInformacoes div.field {
  border-radius: 1rem;
  margin-top: 2rem;
  width: 100%;
  text-align: left;
  margin-left: 3rem;
}

div.perfil div.content div.title div.maisInformacoes div.field label {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0.56rem;
  color: var(--color-secondary);
}

section.vitrine-marketplace div.maisInformacoes div.field p {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--color-secondary);
}

.vitrine-data-box {
  @media (width >= 1360px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1360px;
    margin: 0 auto;
  }
}

section.vitrine-marketplace div.perfil {
  padding: 1rem;
  overflow: hidden;

  @media (width <= 1152px) {
    border-radius: 1rem;
    padding: 0;
  }
}

section.vitrine-marketplace div.perfil div.background-pc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  gap: 1rem;

  @media (width <= 1152px) {
    align-items: center;
  }
}

section.vitrine-marketplace div.perfil div.background-pc div.juntos {
  display: flex;
  max-width: 90%;
  position: relative;

  @media (width <= 1152px) {
    max-width: 100%;
    z-index: 1;
  }
}

section.vitrine-marketplace div.perfil div.background-pc div img.mandar {
  @media (width <= 1152px) {
  }
}

section.vitrine-marketplace div.perfil div.background-pc div.slider-pc {
  display: flex;
  max-width: 30%;
  flex-direction: column;

  @media (width <= 1152px) {
    display: none;
  }
}

section.vitrine-marketplace div.perfil div.background-pc div.slider-pc .slider {
  max-width: 100%;
  text-align: center;
  max-height: 500px;

  @media (width <= 1152px) {
    display: none;
  }
}

section.vitrine-marketplace div.perfil div.content div.title .slider {
  display: none;

  @media (width <= 1152px) {
    display: block;
  }
}

section.vitrine-marketplace div.perfil div.background-pc div.slider-pc .slider {
  max-width: 100%;
  text-align: center;
  max-height: 500px;

  @media (width <= 1152px) {
    display: none;
  }
}

section.vitrine-marketplace div.perfil div.content div.title .slider {
  display: none;

  @media (width <= 1152px) {
    display: block;
  }
}

@media (width >= 992px) {
  .breadcrumb-container nav {
    display: none;
  }

  .slick-list {
    height: 500px !important;
  }
}

.slick-list img {
  border-radius: 10px;
}

section.vitrine-marketplace div.perfil div.background-pc div img.background {
  margin: 0 auto;
  max-width: 100%;
  max-height: 500px;
  object-fit: cover;
  padding-top: 0;
  border-radius: 10px;

  @media (width <= 1152px) {
    max-height: 350px;
    object-fit: fill;
    width: 100%;
  }

  @media (width <= 600px) {
    max-height: 200px;
    object-fit: fill;
    max-width: 100%;
  }
}

section.vitrine-marketplace div.perfil div.content div.title div.info {
  display: flex;
  width: 100%;
  gap: 1rem;

  @media (width <= 1152px) {
    display: none;
  }
}

section.vitrine-marketplace
  div.perfil
  div.content
  div.title
  div.info
  div.backDescricao {
  background-color: #f0f2f5;
  width: 80%;
  border-radius: 1rem;
  padding: 1rem;
  color: var(--color-secondary);
  display: block;

  @media (width <= 1152px) {
    width: 100%;
    margin-top: 1rem;
    display: none;
  }
}

section.vitrine-marketplace
  div.perfil
  div.content
  div.title
  div.info
  div.backDescricao
  p {
  color: #400072;
  font-weight: initial !important;
}

.backDescricao-cell {
  background-color: #f0f2f5;
  width: 80%;
  border-radius: 1rem;
  padding: 1rem;
  display: none;

  @media (width <= 1152px) {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
    display: block;
  }
}

.backDescricao-cell-p {
  font-weight: initial !important;
  color: #400072;
  font-family: "Proxima Nova", sans-serif;
}

.backInfo-cell {
  background-color: #f0f2f5;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  color: var(--color-secondary);
  margin: 0 auto;
  margin-top: 1rem;
  display: none;

  @media (width <= 1152px) {
    display: block;
  }
}

section.vitrine-marketplace
  div.perfil
  div.content
  div.title
  div.info
  div.backInfo {
  background-color: #f0f2f5;
  width: 25%;
  border-radius: 1rem;
  padding: 1rem;
  color: var(--color-secondary);
  margin: 0 auto;
}

section.vitrine-marketplace
  div.perfil
  div.content
  div.title
  div.maisInformacoes {
  display: flex;
  width: 75%;
  border-radius: 1rem;
  background-color: #f0f2f5;
  flex-direction: column;
  margin-top: 2rem;
  text-align: left;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (width <= 1152px) {
    display: none;
  }
}

.maisInformacoes-cell {
  width: 100%;
  border-radius: 1rem;
  background-color: #f0f2f5;
  flex-direction: column;
  margin-top: 2rem;
  text-align: left;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: none;

  @media (width <= 1152px) {
    display: flex;
  }
}

.maisInformacoes-cell div.field-cell {
  border-radius: 1rem;
  margin-top: 2rem;
  width: 100%;
  text-align: left;
  margin-left: 1.5rem;
}

.maisInformacoes-cell h4 {
  color: var(--color-secondary);
  margin-left: 1.5rem;
  font-family: "Proxima Nova", sans-serif;
}

.maisInformacoes-cell div.field-cell label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.56rem;
  color: var(--color-secondary);
}

.maisInformacoes-cell div.field-cell p {
  font-size: 0.9rem;
  font-weight: 100;
  color: var(--color-secondary);
}

section.vitrine-marketplace
  div.perfil
  div.content
  div.title
  div.maisInformacoes
  h4 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  margin-left: 3rem;
}

section.vitrine-marketplace div.perfil > div.content > div.imgPerfil {
  display: flex;
  width: 100%;
  margin-top: -4rem;
  margin-left: 2rem;

  @media (width <= 1152px) {
    margin-top: 0;
    justify-content: center;
    margin-left: 0;
  }
}

section.vitrine-marketplace
  div.perfil
  > div.content
  > div.imgPerfil
  > img.image {
  width: 10rem;
  height: 10rem;
  border-radius: 16rem;
  object-fit: cover;
  margin-top: -5rem;
  z-index: 5;
}

@media (width <= 1152px) {
  section.vitrine-marketplace
    div.perfil
    > div.content
    > div.imgPerfil
    > img.image {
    margin-top: -4rem;
    width: 4rem;
    height: 4rem;
  }
}

section.vitrine-marketplace div.perfil div.content {
  padding-top: 2.28rem;

  @media (width <= 1152px) {
    padding: 2.28rem;
  }
}

section.vitrine-marketplace div.perfil div.content div.title {
  padding-left: 0;
  padding-bottom: 3rem;
  margin-left: 0;
  margin-top: -6rem;

  @media (width <= 1152px) {
    padding-left: calc(16rem + 2.28rem);
    padding-bottom: 3rem;
    margin-top: -5rem;
  }
}

section.vitrine-marketplace div.perfil div.content div.title h4 {
  font-weight: 500;
  font-size: 2.28rem;
  margin-left: 14rem;
  margin-bottom: 2rem;
  margin-top: 2rem;

  @media (width <= 1152px) {
    margin-bottom: 1rem;
    margin-top: -1rem;
    margin-left: 0;
  }
}

section.vitrine-marketplace div.infos {
  padding: 2.28rem;
  display: flex;
  width: 100%;
  background: #fff;
  height: 100%;
  justify-content: center;
  border-radius: 1rem;
}

.input-group-text {
  border-radius: 0.56rem;
}

section.vitrine-marketplace div.perfil div.content div.title > h4 > span {
  font-size: 32px;
  display: block;

  @media (width <= 1152px) {
    font-size: 25px;
    font-weight: 600;
  }
}

section.vitrine-marketplace div.perfil div.content div.title > div > span {
  font-size: 14px;
  display: block;
  margin-bottom: 1rem;
  margin-top: -2rem;
  color: #400072;

  @media (width <= 1152px) {
    font-size: 12px;
    display: none;
  }
}

section.vitrine-marketplace div.perfil div.content div.title h4 {
  display: flex;
  align-items: center;
}

section.vitrine-marketplace div.perfil div.content div.title h4 small {
  color: var(--color-secondary);
  font-size: 1rem;
  border-radius: 0.56rem;
  margin-left: 1rem;
  display: none;

  @media (width <= 1152px) {
    display: block;
  }
}

section.vitrine-marketplace
  div.perfil
  div.content
  div.title
  h4
  small.categoriaSeg {
  display: none;
  font-size: 1rem;

  @media (width <= 1152px) {
    display: block;
    font-size: 0.8rem;
  }
}

@media (width <= 1152px) {
  section.vitrine-marketplace div.perfil div.background {
    padding-top: 50%;
    max-height: 100px;
  }

  section.vitrine-marketplace div.perfil div.content div.title {
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    text-align: center;
  }

  section.vitrine-marketplace div.perfil > div.image {
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 10rem;
  }

  section.vitrine-marketplace div.perfil .btn {
    width: 100%;
  }

  div.button-pedir-orcamento {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    padding: 1.56rem;
    z-index: 88;
    width: 100%;
    box-shadow: 0 0 1rem 0 #4000725c;
  }

  section.vitrine-marketplace div.perfil div.content div.title h4 small {
    margin-left: 0;
  }

  section.vitrine-marketplace div.perfil div.content div.title h4 {
    flex-direction: column;
  }
}
