.cta-convite-amigo {
    background-color: #8b68a7;
    width: 80%;
    border-radius: 5rem;
    color: #eee9f2;

    button {
        font-size: 1.2rem !important;
        color: var(--color-roxo) !important;
        padding: 1.5rem !important;
    }

    h3 {
        font-weight: lighter !important;
    }
}

.cta-convite-amigo-mobile {
    display: none;
}

@media screen and (width <= 991px) {
    .cta-convite-amigo {
        display: none !important;
    }

    .cta-convite-amigo-mobile {
        display: inherit;
        width: 100%;

        button {
            background-color: #926fae !important;
            border: #926fae !important;
            color: white !important;
            font-size: 1rem !important;
            padding: 1.5rem !important;
        }

        h5 {
            font-size: 14px !important;
            color: black !important;
        }

        strong {
            color: var(--color-roxo) !important;
        }
    }
}

