.card-icon-servicos-casamentos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

@media only screen and (width <= 767px) {
  main.noivos section.sub-initial div.item_ h4 {
    font-size: 1.3rem;
  }
}

.card-icon-servicos-casamentos__container p {
  font-size: 1rem;
}

.card-icon-servicos-casamentos__container img {
  width: 5rem;
}

@media only screen and (width >= 768px) {
  .card-icon-servicos-casamentos__container {
    width: 33%;
  }

  .card-icon-servicos-casamentos__container p {
    font-size: 1.25rem;
  }
}

@media only screen and (width >= 1024px) {
  .card-icon-servicos-casamentos__container {
    width: auto;
  }
}
