.modal {
  max-width: 85%;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 10px;
}

.emailInput {
  padding: 0.5rem;
  border: 1px solid var(--color-roxo);
  border-radius: 0.5rem;
}

.modalButtonOk {
  color: var(--color-branco);
  background: var(--color-vermelho);
  font-weight: bold;
}

.modalButtonCancel {
  background: var(--color-dourado);
  color: var(--color-roxo);
  font-weight: bold;
}

.modal .modalButtonCancel:hover {
  color: var(--color-branco);
  background: var(--color-roxo);
  border: none;
}

.modal {
  color: var(--color-roxo);
}
