body:has(main.blog) header {
  background:
    linear-gradient(0deg, #410072af, #410072af),
    url("../../assets/background-avaliacao.jpg") no-repeat center 45% / cover;
}

body:has(main.blog) header div.content {
  padding: 0;
}

body:has(main.blog) header div.content a.logo {
  padding: 0.56rem 0;
  margin-left: -0.56rem;

  /* filter: brightness(20); */
}

body:has(main.blog) header div.content a.logo img {
  height: 4rem;
  filter: brightness(20);
}

section.crumb {
  padding: 6rem 0 1rem;
  background: #cccccc56;
}

section.crumb ul {
  display: flex;
}

section.crumb ul li {
  margin-right: 1rem;
}

section.crumb ul li a {
  color: var(--color-secondary);
}

/* initial-blog */

section.initial-blog {
  padding: 4rem 0;
}

section.initial-blog h1 {
  margin-bottom: 1.28rem;
  font-weight: 600;
}

section.initial-blog p {
  font-size: 1.14rem;
  font-weight: 400;
  line-height: 1.8;
}

section.initial-blog div.search-blog {
  display: flex;
  align-items: center;
  position: relative;
  filter: drop-shadow(0 2px 8px #00000026);
}

section.initial-blog div.search-blog > i {
  font-size: 1.28rem;
  color: var(--color-secondary);
  display: block;
  position: absolute;
  top: calc(50% + 0.14rem);
  left: 2rem;
  transform: translateY(-50%);
}

section.initial-blog div.search-blog input.form-control {
  border-radius: 2rem 0 0 2rem;
  padding-left: 4.56rem;
  height: 100%;
  min-height: 50px;
}

section.initial-blog div.search-blog button.btn {
  background: var(--color-secondary);
  color: #fff;
  border-radius: 0 2rem 2rem 0;
}

/* destaques */

section.destaques {
  padding-bottom: 4rem;
}

section.destaques a.item {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 2px 8px #00000026;
  transition: 0.4s;
}

section.destaques a.item:hover {
  transform: scale(1.05);
}

section.destaques a.item div.image {
  padding-top: 60%;
  background: #cccccc56;
}

section.destaques a.item div.content {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.destaques a.item div.content div.sub {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-gray);
  margin-bottom: 0.56rem;
}

section.destaques a.item div.content h6 {
  font-size: 1.28rem;
  color: var(--color-dark);
  display: flex;
}

section.destaques a.item div.content p {
  font-size: 1.14rem;
  font-weight: 400;
  color: var(--color-dark);
  margin-bottom: 0;
  margin-top: 1rem;
}

section.destaques a.item.large div.content {
  text-align: center;
  align-items: center;
}

section.destaques a.item.large div.content h6 {
  font-size: 2rem;
}

/* last */

section.last {
  padding-bottom: 5rem;
}

section.last div.title h4 {
  font-weight: 700;
  font-size: 2rem;
}

section.last a.item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section.last a.item div.image {
  padding-top: 60%;
  border-radius: 0.71rem;
  background: #cccccc56;
}

section.last a.item div.content {
  padding: 1rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.last a.item div.content div.sub {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-gray);
  margin-bottom: 0.56rem;
}

section.last a.item div.content h6 {
  font-size: 1.42rem;
  color: var(--color-dark);
  display: flex;
}

section.last a.item div.content p {
  font-size: 1.14rem;
  font-weight: 400;
  color: var(--color-dark);
  margin-bottom: 0;
  margin-top: 1rem;
}

section.last a.item div.content div.author-date {
  margin-top: 0.56rem;
  font-size: 1rem;
  color: var(--color-gray);
}

/* sidebar blog */

div.sidebar-blog div.block h4 {
  font-size: 1.42rem;
  font-weight: 600;
}

div.sidebar-blog div.block ul li a {
  padding: 1.14rem 1.42rem;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dfe0ec;
  color: var(--color-dark);
  font-size: 1.14rem;
  transition: 0.2s;
}

div.sidebar-blog div.block ul li:first-child a {
  border-radius: 0.85rem 0.85rem 0 0;
}

div.sidebar-blog div.block ul li:last-child a {
  border-radius: 0 0 0.85rem 0.85rem;
}

div.sidebar-blog div.block ul li a span:last-child {
  color: var(--color-gray);
}

div.sidebar-blog div.block ul li a:hover {
  color: var(--color-secondary);
}

div.sidebar-blog div.block.call {
  border: 1px solid #00000026;
  border-radius: 1rem;
  padding: 2rem;
}

@media (width <= 991px) {
  section.destaques {
    display: none;
  }

  section.destaques a.item.large div.content h6 {
    font-size: 1.28rem;
  }

  section.destaques a.item div.content p {
    display: none;
  }

  section.crumb {
    padding-top: 8rem;
  }

  section.initial-blog div.search-blog {
    flex-direction: column;
    align-items: flex-start;
  }

  section.initial-blog div.search-blog input.form-control {
    border-radius: 4rem;
  }

  section.initial-blog div.search-blog button.btn {
    border-radius: 4rem;
    margin-top: 1rem;
  }

  section.initial-blog div.search-blog > i {
    top: 1.28rem;
    transform: translate(0);
  }

  section.last div.title h4 {
    font-size: 1.71rem;
    margin: 0 0 -0.56rem;
  }

  div.sidebar-blog div.block h4 {
    margin-top: 3rem;
  }
}
