/* custom 01-02-23 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap");

:root {
  /* --color-primary: #ff7b00;
	--color-primary-light: hsl(29, 100%, 90%); */

  --color-primary: #f5bd51;
  --color-primary-light: hsl(147deg 52% 90%);
  --color-secondary: #f5bd51;
  --color-dark: #02242e;
  --color-light: #fcfcfc;
  --color-gray: #7477aa;
  --color-gray-light: #f5f5f5;
}

.grecaptcha-badge {
  display: none !important;
}

html,
body {
  font-size: 14px;
  color: var(--color-dark);
}

p,
li {
  color: var(--color-gray);
  font-weight: 600;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:link,
a:hover {
  font-weight: 500;
  text-decoration: none;
  transition: 0.4s;
  color: var(--color-primary);
}

a:hover {
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-family: var(--body-font);
}

.text-primary {
  color: var(--color-primary) !important;
}

/* forms */

form label {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.28rem;
}

.form-control {
  padding: 0.85rem 1rem 0.64rem;
  box-shadow: none !important;
  outline: 0 !important;
  border-radius: 0.56rem;
}

.form-control:focus {
  border-color: var(--color-primary);
}

/* buttons */

.btn {
  font-weight: 600;
  border-radius: 2rem;
  padding: 1rem 2.28rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn.large {
  font-size: 1.28rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn i {
  margin-bottom: -0.14rem;
}

.btn.btn-primary,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  color: #100734;
  background: var(--color-primary);
  border: 0.07rem solid var(--color-primary);
}

.btn.btn-dark,
.btn.btn-dark:active,
.btn.btn-dark:focus,
.btn.btn-dark:hover {
  color: #fff;
  background: var(--color-dark);
  border: 0.07rem solid var(--color-dark);
}

.btn.btn-white,
.btn.btn-white:active,
.btn.btn-white:focus,
.btn.btn-white:hover {
  color: var(--color-primary);
  background: #fff;
  border: 0.07rem solid #fff;
}

.btn.btn-simple,
.btn.btn-simple:active,
.btn.btn-simple:focus,
.btn.btn-simple:hover {
  color: var(--color-primary);
  background: transparent;
  border: 1px solid transparent;
}

/* alerts */

div.alert {
  padding: 1.28rem;
  margin: 0;
  border-radius: 0.56rem;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

div.alert ion-icon {
  font-size: 1.71rem;
}

div.alert::before {
  content: "";
  width: 0.28rem;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}

div.alert.alert-primary {
  color: #004560;
  background: #fff;
  border: 1px solid #0e83f1cc;
}

div.alert.alert-primary::before {
  background: var(--color-primary);
}

div.alert.alert-danger {
  color: #dc3545;
  background: transparent;
  border: 1px solid #dc3545cc;
}

div.alert.alert-danger::before {
  background: #dc3545;
}

div.alert.alert-warning {
  color: #664d03;
  background: #fff;
  border: 1px solid #f8b805cc;
}

div.alert.alert-warning::before {
  background: #f8b805;
}

div.alert.alert-warning > ion-icon {
  color: #f8b805;
}

div.alert.alert-success {
  color: #007231;
  background: #fff;
  border: 1px solid #04d960cc;
}

div.alert.alert-success::before {
  background: #04d960;
}

/* header */

button.acesso-fixed,
button.acesso-fixed:hover {
  position: fixed;
  box-shadow: 0 0 8rem -1rem #01151e;
  bottom: 1.71rem;
  right: 1.71rem;
  padding: 0 1rem;
  z-index: 8888;
  border-radius: 8rem;
  font-size: 1.28rem;
  font-weight: 500;
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #fff !important;
}

a.whatsapp,
a.whatsapp:hover {
  position: fixed;
  padding: 0;
  width: 4.71rem;
  height: 4.71rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1.71rem;
  right: 2.6rem;
  z-index: 8888;
  box-shadow: 0 0 8rem -1rem #01151e;
  border-radius: 8rem;
  font-size: 2rem;
  font-weight: 500;
  background: #04d960 !important;
  border: 1px solid #04d960 !important;
  color: #fff !important;
}

a.whatsapp span {
  display: flex;
  margin-bottom: -0.14rem;
}

a.whatsapp i {
  font-size: 2.42rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8888;
}

header div.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* padding: 0.28rem 2rem; */
  padding: 0.28rem 0;
}

header div.content nav {
  width: 100%;
}

header div.content a.logo img {
  height: 4rem;
}

@media (width <= 991px) {
  header div.content a.logo img {
    height: 3rem;
  }

  header div.content a.logo div {
    font-size: 1rem;
  }

  header div.content {
    padding: 0.71rem !important;
  }

  header div.container {
    padding: 0 1rem;
  }
}

header div.content nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header div.content nav ul li {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

header div.content nav ul li a {
  padding: 0.56rem 1.71rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.14rem;
}

header div.content nav ul li a.btn {
  padding: 0.71rem 2.28rem 0.56rem;
}

/* footer */

footer {
  padding: 5rem 0 0;
  background: var(--color-dark);
}

footer p {
  color: #fff;
  margin: 0;
}

footer h6 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.14rem;
  color: #fff;
}

footer ul.social {
  display: flex;
}

footer ul.social li {
  margin-right: 0.85rem;
}

footer ul.social li a,
footer ul.social li a:link {
  font-size: 1.71rem;
  width: 2.28rem;
  height: 2.28rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  margin-bottom: 0.85rem;
  list-style: 1.8;
  color: #fff;
}

footer ul li a,
footer ul li a:link {
  color: #fff;
}

footer ul li a:hover {
  color: #fff;
  opacity: 0.9;
}

footer a.logo {
  display: block;
}

footer a.logo img {
  height: 3.56rem;
}

footer div.copyright {
  background: var(--color-primary);
  margin-top: 5rem;
}

footer div.copyright div.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.14rem 0;
  color: #fff;
}

footer div.copyright div.content a {
  color: #fff;
  transition: 0.2s;
}

footer div.copyright div.content a:hover {
  opacity: 0.9;
}

/* menu mobile */

button.menu {
  font-size: 2.28rem;
  background: transparent;
  border-color: transparent;
  color: #fff;
  display: none;
}

/* response */

@media (width <= 991px) {
  header div.content nav {
    position: fixed;
    left: -360px;
    top: 0;
    width: 100%;
    max-width: 300px;
    min-height: 100vh;
    background: #fff;
    box-shadow: 0.8rem 0 2.4rem rgb(9 13 73 / 32%);
    transition: 0.2s;
  }

  header.open div.content nav {
    left: 0;
  }

  header div.content nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.28rem;
  }

  header div.content nav ul li a,
  header div.content nav ul li a.btn,
  header div.content nav ul li a.text-primary {
    color: var(--color-dark) !important;
    background: transparent;
    border: 1px solid transparent;
    padding: 1rem 2.28rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  header div.content nav ul li a.btn.btn-primary {
    color: var(--color-primary) !important;
    font-weight: 500;
  }

  button.menu {
    display: flex;
  }

  div.container {
    padding: 0 1.71rem;
  }

  aside.div {
    position: relative;
    margin-top: -20%;
    margin-bottom: 32px;
  }

  header div.content nav ul li > ul {
    position: unset;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    margin-left: 1.71rem;
    padding: 0.71rem 0;
    background: var(--color-light);
    border-radius: 0.71rem;
    width: 100%;
    border: 0;
    box-shadow: none;
  }

  header div.content nav ul li > ul li a {
    padding: 0.71rem calc(0.71rem * 2);
  }

  header div.content nav ul li {
    flex-direction: column;
  }
}

/* custom */

body {
  max-width: 100vw;
  overflow-x: hidden;
}

section.plansmini {
  display: flex;
  position: relative;
  min-height: 100vh;
  margin-bottom: 6rem;
}

section.plansmini div.title h2 {
  color: #f5bd51;
  font-size: 4.28rem;
  font-weight: 700;
}

section.plansmini div.item {
  padding: 2.71rem;
  border-radius: 1.71rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8rem -1rem #01151e;
  transition: 0.2s;
}

section.plansmini div.col-lg-4:nth-child(1) div.item:hover {
  transform: scale(1.04);
}

section.plansmini div.col-lg-4:nth-child(2) div.item:hover {
  transform: scale(1.14);
}

section.plansmini div.col-lg-4:nth-child(3) div.item:hover {
  transform: scale(1.04);
}

section.plansmini div.col-lg-4:nth-child(1) div.item {
  background: linear-gradient(32deg, #100734, #1a1239, #271f44);
  border: 1px solid hsl(257deg 53% 32%);
  padding-right: calc(2.71rem + 1rem);
}

section.plansmini div.col-lg-4:nth-child(2) {
  position: relative;
  z-index: 8;
}

section.plansmini div.col-lg-4:nth-child(2) div.item {
  background: linear-gradient(32deg, #352762, #3d2c63, #765b9e);
  border: 1px solid hsl(263deg 31% 64%);
  transform: scale(1.1);
}

section.plansmini div.col-lg-4:nth-child(3) div.item {
  background: linear-gradient(32deg, #201b39, #3d3358, #483c60);
  border: 1px solid hsl(260deg 23% 56%);
  padding-left: calc(2.71rem + 1rem);
}

section.plansmini div.item div.title_ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.plansmini div.item h6 {
  color: #fff;
  font-size: 2.56rem;
  font-weight: 500;
  position: relative;
  opacity: 0.8;
  margin-bottom: -1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

section.plansmini div.item h6::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

section.plansmini div.item h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #f5bd51;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

section.plansmini div.item h5 {
  color: #fff;
  opacity: 0.8;
}

section.plansmini div.item h4 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

section.plansmini div.item span.div {
  width: 100%;
  height: 1px;
  background: #fff;
  display: flex;
  opacity: 0.4;
  margin: 1.56rem 0 2rem;
}

section.plansmini div.item ul li {
  color: #fff;
  font-weight: 400;
  font-size: 1.42rem;
  margin-bottom: 0.71rem;
}

section.plansmini div.item ul li.no {
  text-decoration: line-through;
}

section.plansmini div.item ul li span {
  opacity: 0.8;
}

section.plansmini div.item ul li i {
  margin-right: 0.85rem;
}

section.plansmini div.item a.btn {
  margin-top: 1rem;
  border-radius: 2rem;
  background: #3748f0;
  color: #fff;
  border: 1px solid #3748f0;
  font-size: 1.28rem;
  font-weight: 700;
  transition: 0.2s;
}

section.plansmini div.item:hover a.btn {
  box-shadow: 0 0 8rem -1rem #01151e;
}

section.plansmini div.col-lg-4:nth-child(2) div.item a.btn {
  background: #f5bd51;
  border: 1px solid #f5bd51;
  color: #400072;
}

section.plansmini div.item button.link {
  margin-top: 0.56rem;
  margin-bottom: -7.56rem;
  background: transparent;
  border: 0;
  font-size: 1.56rem;
  font-weight: 700;
  color: #f5bd51;
  opacity: 0.8;
}

section.plansmini div.item div.price {
  display: flex;
}

section.plansmini div.item div.price > div {
  display: flex;
  flex-direction: column;
  margin-top: 1.14rem;
  margin-left: 0.28rem;
}

section.plansmini div.item div.price > div > span {
  font-size: 2.28rem;
  font-weight: 700;
  line-height: 1;
  color: #f5bd51;
}

section.plansmini div.item div.price > div > span:last-child {
  font-size: 1.56rem;
  white-space: nowrap;
}

/* navbar */

.navbar-fixed {
  z-index: 8888 !important;
}

@media (width <= 1400px) {
  section.plansmini div.title h2 {
    font-size: 3.28rem;
  }

  section.plansmini div.item h2 {
    font-size: 3.71rem;
  }

  section.plansmini div.item h6 {
    margin-bottom: -0.56rem;
    font-size: 1.85rem;
  }

  section.plansmini div.item div.price > div > span {
    font-size: 1.42rem;
  }

  section.plansmini div.item div.price > div > span:last-child {
    font-size: 1.14rem;
  }

  section.plansmini div.item h4 {
    font-size: 1.71rem;
  }

  section.plansmini div.item h5 {
    font-size: 1.14rem;
  }

  section.plansmini div.item ul li {
    font-size: 1.14rem;
  }

  section.plansmini div.item button.link {
    font-size: 1.14rem;
    margin-bottom: -6.91rem;
  }
}

@media (width <= 1200px) {
  section.plansmini div.item {
    padding: 2rem;
  }

  section.plansmini div.title h2 {
    font-size: 3rem;
  }

  section.plansmini div.item h2 {
    font-size: 3.28rem;
  }

  section.plansmini div.item h6 {
    margin-bottom: -0.56rem;
    font-size: 1.28rem;
  }

  section.plansmini div.item div.price > div > span {
    font-size: 1.28rem;
  }

  section.plansmini div.item div.price > div > span:last-child {
    font-size: 0.85rem;
  }

  section.plansmini div.item h4 {
    font-size: 1.56rem;
  }

  section.plansmini div.item h5 {
    font-size: 1rem;
  }

  section.plansmini div.item ul li {
    font-size: 1rem;
  }

  section.plansmini div.item button.link {
    font-size: 1rem;
    margin-bottom: -5.71rem;
  }

  section.plansmini div.item a.btn {
    font-size: 1rem;
  }

  section.plansmini div.col-lg-4:nth-child(1) div.item {
    padding-right: calc(2rem + 1rem);
  }

  section.plansmini div.col-lg-4:nth-child(3) div.item {
    padding-left: calc(2rem + 1rem);
  }
}

@media (width <= 991px) {
  section.plansmini div.title h2 {
    color: var(--color-light);
    font-size: 2rem;
  }

  header div.content {
    padding: 2.56rem 0.71rem;
  }

  section.plansmini div.col-lg-4:nth-child(2) div.item {
    transform: unset;
  }

  section.plansmini div.col-lg-4:nth-child(1) div.item,
  section.plansmini div.col-lg-4:nth-child(3) div.item {
    padding: 2.71rem;
  }

  section.plansmini div.item {
    margin-top: 8rem;
  }

  section.plansmini div.col-lg-4:nth-child(1) div.item {
    margin-top: 0;
  }

  section.plansmini div.col-lg-4:nth-child(2) div.item:hover {
    transform: scale(1.04);
  }

  header {
    position: absolute;
  }

  button.acesso-fixed,
  button.acesso-fixed:hover {
    padding: 1.32rem 4rem;
    background: #400072 !important;
    border: 1px solid #400072 !important;
    color: #fff !important;
    opacity: 0.95;
  }
}
