.passosConfirmacaoCadastro {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  text-align: center;
  background: rgb(246 187 79);
  background: linear-gradient(
    45deg,
    rgb(246 187 79 / 100%) 0%,
    rgb(64 0 114 / 100%) 35%,
    rgb(64 0 114 / 100%) 65%,
    rgb(246 187 79 / 100%) 100%
  );
}

.cardPassoAtual {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-branco);
  padding: 0 2rem;
}

.cardPassoAtual_header {
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

.cardPassoAtualStep {
  margin-bottom: 2rem;
}

.cardPassoAtual_header h1 {
  color: var(--color-dourado);
}

.avatar-uploader {
  color: var(--color-secondary);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.56rem;
}

.textWarningObs {
  width: 80%;
  font-size: 1rem;
}

.btnProximoConfirmacao button {
  margin-top: 2rem;
  color: var(--color-roxo);
  background-color: var(--color-dourado);
}

.btnFinalizarConfirmacao button {
  margin-top: 6rem;
  margin-bottom: 6rem;
  color: var(--color-roxo);
  background-color: var(--color-dourado);
}

.inputsDadosEmpresa {
  width: 100%;
  margin: 0.75rem 0;
}

.inputsDadosEmpresaPasso4 {
  width: 80%;
  margin: 0.75rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inputDadosEmpresa {
  width: 100%;
  padding: 0.25rem 0.5rem;
  color: var(--color-preto);
}

@media (width <= 991px) {
  .cardPassoAtual,
  .passosConfirmacaoCadastro {
    padding: 0;
  }
}

@media screen and (width >= 1366px) {
  h5 {
    font-size: 1.25rem;
  }
}

.passosConfirmacaoCadastro .inputsDadosEmpresaPasso4 .form-check {
  text-align: left !important;
}

.cardPassoAtual .inputsDadosEmpresaPasso4-title {
  display: flex;
  align-items: center;

  h5 {
    font-size: 1.15rem;
  }
}
