main.home * {
  font-family: "Proxima Nova", sans-serif;
}

main.home h1,
main.home h2,
main.home h3,
main.home h4,
main.home h5,
main.home h6,
main.home h1 span,
main.home h2 span,
main.home h3 span,
main.home h4 span,
main.home h5 span,
main.home h6 span {
  font-family: "Proxima Nova", sans-serif;
}

main.home p {
  font-weight: 400;
}

/* initial */

main.home section.initial {
  min-height: calc(100vh - 14.42rem);
  max-height: calc(100vh - 14.42rem);
  margin-bottom: 0;
  padding-top: 8rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, #400072, #773867);
}

main.home section.initial h1,
main.home section.initial h1 span {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-top: -1rem;
}

main.home section.initial h1 span {
  color: var(--color-primary);
}

main.home section.initial p {
  color: #fffc;
  font-size: 1.5rem;
}

main.home section.initial .btn {
  font-size: 1.5rem;
  font-weight: 600;
}

main.home section.initial img {
  filter: drop-shadow(0 0 5rem hsl(273deg 100% 7% / 85%))
    drop-shadow(0 0 20rem hsl(40deg 89% 64% / 60%));
  margin-bottom: -14.42rem;
}

main.home section.initial div.col-lg-6:first-child {
  position: relative;
  z-index: 88;
}

/* vantagens */

main.home section.vantagens {
  padding: 2.71rem 0;
  margin-bottom: 0;
  background: #fff;
}

main.home section.vantagens div.item_ {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main.home section.vantagens div.item_ img {
  height: 85px;
  display: block;
  margin-bottom: 1.56rem;
}

main.home section.vantagens div.item_ h4 {
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  color: #400072;
  margin-bottom: 0;
}

/* default */

section.default {
  padding: 4.28rem 0;
  margin: 0;
}

.bg-light {
  background: #4000721c !important;
}

div.title h2 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #400072;
}

section.default div.image {
  position: relative;
}

section.default div.image > div {
  padding-top: 70%;
  border-radius: 3rem;
  position: relative;
  z-index: 8;
}

section.default div.image::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background: hsl(274deg 100% 22% / 10%);
  position: absolute;
  top: 3rem;
  left: 3rem;
}

section.default div.image.left::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background: hsl(274deg 100% 22% / 10%);
  position: absolute;
  top: 3rem;
  left: unset;
  right: 3rem;
}

div.item-servicos-oferecidos {
  display: flex;
  align-items: flex-start;
}

div.item-servicos-oferecidos img {
  width: 16%;
  display: block;
  margin-right: 1.71rem;
  margin-top: -0.42rem;
}

div.title h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #400072;
}

div.item-servicos-oferecidos h6 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #400072;
}

div.item-servicos-oferecidos p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

p.large {
  font-size: 1.5rem;
  font-weight: 500;
}

section.default {
  position: relative;
}

section.default.image {
  padding: 8rem 0;
}

section.default.image div.image-absolute {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

section.default.image div.image-absolute.left {
  right: unset;
  left: 0;
}

div[class*="col-"]:nth-child(1) div.item-plan {
  background: hsl(274deg 100% 22% / 2%);
}

div[class*="col-"]:nth-child(2) div.item-plan {
  background: hsl(274deg 100% 22% / 6%);
}

div[class*="col-"]:nth-child(3) div.item-plan {
  background: hsl(274deg 100% 22% / 10%);
}

div[class*="col-"]:nth-child(4) div.item-plan {
  background: hsl(274deg 100% 22% / 14%);
}

div.item-plan {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2.71rem;
  border-radius: 1rem;
}

div.item-plan div.img {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.71rem;
  margin-bottom: 1rem;
  border-radius: 6rem;
  background: hsl(0deg 0% 100% / 70%);
}

div.item-plan div.img img {
  height: 3.56rem;
  display: inline-block;
  margin-bottom: 1rem;
}

div.item-plan h6 {
  margin: 0 0 1rem;
  padding: 0.28rem 0.56rem 0.2rem;
  display: inline-block;
  border-radius: 0.28rem;
  background: #400072;
  color: #fff;
}

div.item-plan p {
  font-size: 1.5rem;
  color: #400072;
  margin: 0;
}

/* newsletter */

aside.social {
  background: #400072;
  padding: 1.71rem;
}

aside.social ul.social-list {
  display: flex;
}

aside.social ul.social-list li a {
  display: flex;
  font-size: 2rem;
  margin-right: 1rem;
}

aside.social div.newsletter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

aside.social div.newsletter h4 {
  margin: 0;
  color: #fff;
  margin-right: 1.71rem;
}

aside.social div.newsletter a.btn {
  font-weight: 600;
}

main.home section.initial p {
  transition: 1s;
}

main.home section.initial p.hide_ {
  opacity: 0;
  visibility: hidden;
}

main.home section.initial div.row div.col-lg-6:first-child {
  padding-bottom: 14rem;
}

p.vantagensWed {
  font-size: 1.5rem;
}

span.btnCadastroGratis {
  font-size: 1.5rem;
}

@media (width <= 1400px) {
  main.home section.initial {
    min-height: 100vh;
  }
}

@media (width <= 991px) {
  main.home section.initial div.row div.col-lg-6:first-child {
    padding-bottom: 0;
  }

  main.home section.initial {
    max-height: unset;
    padding-top: 8rem;
    min-height: 100vh;
  }

  main.home section.initial h1,
  main.home section.initial h1 span {
    font-size: 2.5rem;
  }

  section.default div.image::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    background: hsl(274deg 100% 22% / 10%);
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  section.default div.image.left::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    background: hsl(274deg 100% 22% / 10%);
    position: absolute;
    top: 1rem;
    left: unset;
    right: 1rem;
  }

  section.default.image {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 4rem;
  }

  section.default.image div.image-absolute {
    position: relative;
    padding-top: 70%;
    margin-bottom: 2.71rem;
    width: 100%;
  }

  div.title h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #400072;
  }

  aside.social ul.social-list {
    justify-content: center;
    padding-left: 1rem;
  }

  footer div.copyright div.content {
    flex-direction: column;
  }

  main.home section.initial p {
    font-size: 1.5rem;
  }

  main.home section.vantagens div.item_ h4 {
    white-space: normal;
  }

  .rec.rec-slider-container {
    overflow: unset !important;
  }

  .rec-item-wrapper {
    overflow: unset !important;
  }

  .rec.rec-carousel-item.rec-carousel-item-0.rec-carousel-item-visible > div {
    /* width: auto !important; */
  }
}

@media only screen and (min-width: 992px) {
  main.home section.initial div.row div.col-lg-6:first-child {
    padding-bottom: 10rem;
  }
}
