.card__servicos__contaier {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.card_servicos_icon {
  margin: 1rem;
}

.card_servicos_icon img {
  width: 8rem;
}

.card_text {
  font-size: 1rem;
  font-family: var(--body-font);
}

@media only screen and (width >= 1080px) {
  .card_text {
    font-size: 1.25rem;
  }
}
