.card_icons_pontos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  width: 50%;
}

.icons_icon i {
  font-size: 2rem;
  color: var(--color-roxo);
}

.icons_title {
  font-size: 1.25rem;
}

.icons_desc {
  font-size: 0.9rem;
}

@media only screen and (width >= 768px) {
  .card_icons_pontos {
    width: 16rem;
    padding: 0 2rem;
  }

  .icons_icon i {
    font-size: 3rem;
  }

  .icons_title {
    font-size: 1.25rem;
  }

  .icons_desc {
    font-size: 1rem;
  }
}

@media only screen and (width >= 1080px) {
  .card_icons_pontos {
    width: 20rem;
  }

  .icons_icon i {
    font-size: 4rem;
  }

  .icons_title {
    font-size: 1.75rem;
  }

  .icons_desc {
    font-size: 1.25rem;
  }
}
