.card__homepage_container {
  margin: 2.5rem 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 11%;
  height: 5rem;
  position: relative;
}

.card__icon {
  transform: scale(0.08);
  color: var(--color-roxo);
}

.card_title {
  font-size: 0.9rem;
  margin-bottom: 0;
  position: absolute;
  top: 100px;
  color: var(--color-roxo);

  /* font-family: var(--title-font); */
}

.card_description {
  font-size: 1rem;
}
