.chat__container_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.chat-orcamentos div.content div.chat div.footer > * {
  position: relative;
  z-index: 88;
}

section.chat-orcamentos div.content div.chat div.footer div.templates-message {
  position: absolute;
  bottom: 100%;
  width: calc(100% - 2rem);
  z-index: 8;
}

section.chat-orcamentos
  div.content
  div.chat
  div.footer
  div.templates-message
  div.owl-stage {
  /* padding-left: 1rem; */
}

section.chat-orcamentos
  div.content
  div.chat
  div.footer
  div.templates-message
  div.owl-item:first-child
  div.item_ {
  padding-left: 1rem;
}

section.chat-orcamentos
  div.content
  div.chat
  div.footer
  div.templates-message
  div.item_ {
  padding: 1rem 0;
}

section.chat-orcamentos
  div.content
  div.chat
  div.footer
  div.templates-message
  div.item_
  button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  box-shadow: 0 0 1rem -0.28rem #4000726b;
  color: var(--color-secondary);
  background: #fff;
  border: 1px solid #e5e5e5;
  font-weight: 500;
  padding: 0.28rem 1rem;
  border-radius: 2rem;
}

section.chat-orcamentos
  div.content
  div.chat
  div.footer
  div.templates-message
  div.item_
  button
  span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 20rem;
}

@media (width <= 991px) {
  section.chat-orcamentos
    div.content
    div.chat
    div.footer
    div.templates-message
    div.item_
    button
    span {
    max-width: 8rem;
  }
}
