div:has(> .card-destaque) {
  height: 100%;
}

.card-destaque {
  display: flex;
  flex-direction: column;
  background-color: #efeaea;
  border-radius: 20px;
  margin: 1rem;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
  width: 25rem;
}

.card-imagem-destaque {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 25vh;
  object-fit: cover;
  object-position: center;
}

.nivel-status {
  position: absolute;
  padding: 0.35rem 0.75rem;
  border-radius: 0 5px 5px 0;
  font-size: 0.9rem;
  background-color: var(--color-dourado);
  text-transform: uppercase;
  bottom: 100%;
  left: 0;
}

.nivel-status .icon {
  display: none;
}

.nivel-status.diamante {
  background: linear-gradient(45deg, #dae4e9, #f3fbff, #dae4e9, #daf3ff);
  color: hsl(200deg 35% 39%);
}

.nivel-status.diamante .icon.diamante {
  display: inline-block;
  margin-top: -2px;
}

.nivel-status.ouro .icon.ouro {
  display: inline-block;
  margin-top: -2px;
}

.card-info {
  padding: 1.71rem 1.71rem 2rem;
  margin: 0;
  height: 100%;

  /* min-height: 100%; */

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.info-titulo {
  color: #2e2d2d;
  font-size: 1.1rem;
  font-weight: bold;
}

.info-segmento {
  padding-top: 0.1rem;
  font-size: 0.9rem;
  color: #4b4b4b;
}

.info-localizacao {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.info-preco {
  padding-bottom: 0.7rem;
  font-size: 0.9rem;
  color: #4b4b4b;
}

.card-botao {
  border: none;
  text-decoration: none;
  background-color: var(--color-roxo);
  color: var(--color-branco) !important;
  padding: 0.45rem 0.75rem;
  margin-top: auto;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.7rem;
}

.card-botao:hover {
  color: var(--color-branco);
  padding: 0.8rem 1.7rem;
}

@media only screen and (width >= 766px) {
  .card-botao {
    padding: 0.65rem 1.5rem;
  }

  .rec.rec-slider {
    max-width: 100%;
  }
}
