.marketplace-corpo-produtos .ant-cascader,
.marketplace-corpo-produtos .ant-cascader .ant-select-selector {
  width: 100% !important;
  border-radius: 0.25rem !important;
  height: calc(3.5rem + 2px) !important;
}

.marketplace-corpo-produtos .ant-select {
  height: auto !important;
}

.marketplace-corpo-produtos .ant-select-arrow {
  top: 60%;
}

.marketplace-corpo-produtos .ant-select-selection-item {
  line-height: 68px !important;
}

.marketplace-corpo-produtos {
  display: flex;
  justify-content: space-between;
}

.container__vitrine__marketplacce {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-icon-placeholder {
  background-color: var(--color-cinza);
  width: 4rem;
}

.placeholder_container {
  margin: 1rem;
}

.placeholder-lista-profissionais {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
}

.placeholder-img-div {
  background-color: var(--color-cinza);
  width: 100%;
  height: 8rem;
}

.lista-produtos-marketplace {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
}

.marketplace-filtros {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.filtro-segmento-profissional,
.filtro-estado-profissional {
  margin-bottom: 2rem;
}

.botoesFiltros {
  display: flex;
  flex-direction: column;
}

.botoesFiltros button {
  margin-bottom: 1rem;
}

.listCardsProfissionaisMarketplace {
  padding: 0 1rem;
}

.paginacaoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paginacaoMarketplaceProfissionais {
  display: flex;
  justify-content: space-around;
  width: 25rem;
}

@media only screen and (width >= 960px) {
  .lista-produtos-marketplace {
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .marketplace-filtros {
    width: 100%;
    padding-left: 3rem;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .filtro-segmento-profissional {
    width: 100%;

    /* margin-bottom: 2rem; */
  }

  .filtro-estado-profissional {
    margin-left: 2rem;
  }

  .filtro-estado-profissional select {
    height: 3.6rem;
  }

  .filtro-pesquisar button {
    margin-left: 1.5rem;
    height: 3.6rem;
    border: none;
    padding: 0.75rem;
    background-color: var(--color-dourado);
    color: var(--color-roxo);
    border-radius: 10px;
    transition: 0.5s;
  }

  .filtro-pesquisar button:hover {
    padding: 0.75rem 1.25rem;
    background-color: var(--color-roxo);
    color: var(--color-dourado);
  }
}

@media only screen and (width >= 1280px) {
  .lista-produtos-marketplace {
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .placeholder-lista-profissionais {
    flex-direction: row;
  }

  .placeholder-img-div {
    width: 100%;
    height: 10rem;
  }

  .placeholder_container {
    width: 25%;
  }
}

@media only screen and (width >= 1400px) {
  .lista-produtos-marketplace {
    grid-template-columns: auto auto auto auto;
    justify-content: center;
  }
}

/* custom */

.marketplace-corpo-produtos {
  padding-top: calc(4.56rem);
}

div.breadcrumb-container {
  background: hsl(0deg 0% 0% / 10%);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

div.breadcrumb-container nav {
  padding: 0.71rem 0;
}

div.breadcrumb-container nav ol {
  margin-bottom: 0;
}

div.breadcrumb-container nav ol li a {
  color: var(--color-secondary);
}

span.ant-select-selection-placeholder {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-44%);
}

span.ant-select-arrow {
  position: absolute;
  top: 50%;
  right: 1.28rem;
  transform: translateY(-50%);
}

.marketplace-filtros {
  margin-bottom: 0;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 0px);
}

@media screen and (width <= 700px) {
  .marketplace-corpo-produtos {
    padding-top: calc(2.45rem) !important;
  }
}
