.footer-icons-social {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.footer-icons-social i {
  font-size: 1.75rem;
  margin: 0 1rem;
}

.footer-icons-social a {
  text-decoration: none;
  color: var(--color-branco);
  transition: 0.5s;
}

.footer-icons-social a:hover {
  color: var(--color-dourado);
}

.footer-social {
  background-color: var(--color-roxo);
  padding: 3rem 0;
}

.footer-news-letter {
  font-size: 1.25rem;
  color: var(--color-branco);
  font-weight: 800;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-news-letter a {
  color: var(--color-branco);
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  background-color: rgb(0 0 0 / 20%);
}

.footer-copyright {
  background-color: var(--color-quase-preto);
  padding: 3rem 0;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-links-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-logo-img {
  width: 5rem;
  height: 5rem;
}

.footer-logo-name {
  color: var(--color-dourado);
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo-name:hover {
  color: var(--color-dourado);
}

.footer-logo-name span {
  font-size: 2.5rem;
}

.footer-link-text {
  color: var(--color-branco);
  text-decoration: none;
}

.footer-link-text:hover {
  color: var(--color-dourado);
  transition: 1s;
}

.footer-copyright-text {
  width: 100%;
  color: var(--color-cinza-forte);
  text-align: center;
}

.footer-container-75 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (width >= 1024px) {
  .footer-news-letter {
    font-size: 1.75rem;
  }

  .footer-news-letter a {
    padding: 0.75rem 1.75rem;
  }

  .footer-icons-social {
    margin-bottom: 0;
    width: 50%;
    padding-left: 5rem;
    text-align: left;
  }

  .footer-news-letter {
    font-size: 1.75rem;
    color: var(--color-branco);
    font-weight: 800;
    margin-bottom: 0;
    width: 50%;
    text-align: right;
    padding-right: 5rem;
  }

  .footer-logo-container {
    width: 30%;
    margin-bottom: 0;
  }

  .footer-links-container {
    width: 70%;
  }

  .footer-container-75 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (width >= 1440px) {
  .footer-container-75 {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
