.nav {
  display: none;
}

@media (width <= 770px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: var(--color-branco);
    padding: 1rem 0.5rem;
    color: var(--color-roxo);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .buttonList {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    color: var(--color-roxo);
    font-size: 10px;
    gap: 0.2rem;
  }

  .buttonIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    color: var(--color-roxo);
    font-size: 14px;
    gap: 0.2rem;
  }
}
