/* new */

section.chat-orcamentos {
  margin-top: -5.8rem;
}

section.chat-orcamentos div.content {
  border: 2px solid #f0f2f5;
  background: #fff;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;

  /* margin-bottom: 8rem; */

  box-shadow: 0 0 3rem -1rem hsl(0deg 0% 0% / 32%);
}

/* chat list */

section.chat-orcamentos div.content div.chat-list {
  max-width: 27rem;
  min-width: 27rem;
  width: 100%;
  height: calc(90vh - 8rem);
  overflow-y: scroll;
  border-right: 1px solid hsl(216deg 20% 90%);
  background: #fff;
}

section.chat-orcamentos div.content div.chat-list::-webkit-scrollbar-track {
  background-color: #f0f2f5;
}

section.chat-orcamentos div.content div.chat-list::-webkit-scrollbar {
  width: 4px;
  background: #f4f4f4;
}

section.chat-orcamentos div.content div.chat-list::-webkit-scrollbar-thumb {
  background: #fff;
}

section.chat-orcamentos div.content div.chat-list div.filters {
  padding: 1.28rem;
}

section.chat-orcamentos div.content div.chat-list div.filters span {
  padding: 0.14rem 0.56rem;
  margin: 0 0.07 0.07rem 0;
  border-radius: 0.42rem;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  display: flex;
}

section.chat-orcamentos div.content div.chat-list div.filters span.active {
  background: var(--color-secondary);
  color: #fff;
}

section.chat-orcamentos div.content div.chat-list ul {
  width: 100%;
}

section.chat-orcamentos div.content div.chat-list ul li {
  padding: 0.71rem 1rem;
  border-bottom: 1px solid #f0f2f5;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

section.chat-orcamentos div.content div.chat-list ul li:hover {
  background: hsl(216deg 20% 95% / 32%);
}

section.chat-orcamentos div.content div.chat-list ul li.active {
  background: #f0f2f5;
}

section.chat-orcamentos div.content div.chat-list ul li div.image {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  border: 1px solid #f0f2f5;
  background: #fff;
  margin-right: 1rem;
}

section.chat-orcamentos div.content div.chat-list ul li span.name {
  font-size: 1.14rem;
  font-weight: 500;
  line-height: 1.4;
  display: flex;
  margin-top: 0.14rem;
  color: var(--color-dark);
  max-width: 90%;
  margin-bottom: 0.42rem;
}

section.chat-orcamentos div.content div.chat-list ul li span.message {
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1;
  display: flex;
}

section.chat-orcamentos div.content div.chat-list ul li span.hour {
  position: absolute;
  top: 1.14rem;
  right: 1.14rem;
  font-size: 0.85rem;
  opacity: 0.8;
}

section.chat-orcamentos div.content div.chat-list ul li span.counter {
  position: absolute;
  top: calc(1.14rem + 1.28rem + 0.56rem);
  right: 1.14rem;
  width: 1.28rem;
  height: 1.28rem;
  border-radius: 1.28rem;
  background: var(--color-secondary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.chat .chat-history ul {
  padding: 0;
}

/* chat */

section.chat-orcamentos div.content div.chat,
section.chat-orcamentos div.content div.chat > div:not(.header, .footer) {
  display: flex;
  width: 100%;
  height: calc(90vh - 8rem);
  max-height: calc(90vh - 8rem);
  position: relative;
}

section.chat-orcamentos div.content div.chat:has(> img.empty) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section.chat-orcamentos div.content div.chat div.header {
  padding: 0.71rem 1rem;
  background: #f0f2f5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  width: 100%;
}

section.chat-orcamentos div.content div.chat div.header button.back {
  margin-right: 1rem;
  background: transparent;
  border: 0;
  color: var(--color-secondary);
  font-size: 1.28rem;
}

@media (width >= 991px) {
  section.chat-orcamentos div.content div.chat div.header button.back {
    display: none;
  }
}

section.chat-orcamentos div.content div.chat div.header div.image {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  border: 1px solid #f0f2f5;
  background: #fff;
  margin-right: 1rem;
}

section.chat-orcamentos div.content div.chat div.header span.name {
  font-size: 1.14rem;
  font-weight: 500;
  line-height: 1;
  display: flex;
  margin-top: 0.14rem;
  color: var(--color-dark);
  margin-bottom: 0.42rem;
}

section.chat-orcamentos div.content div.chat div.header span.is-online {
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1;
  display: flex;
  opacity: 0.6;
}

.message li {
  font-size: 0.75rem;
}

section.chat-orcamentos div.content div.chat div.footer {
  padding: 0.71rem 1rem;
  background: #f0f2f5;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  width: 100%;
}

section.chat-orcamentos div.content div.chat div.footer input {
  background: #fff;
  border: 0;
  width: 100%;
  height: 3rem;
  border-radius: 0.56rem;
  outline: 0 !important;
  padding-left: 1rem;
}

section.chat-orcamentos div.content div.chat div.footer button.send {
  background: transparent;
  border: 0;
  color: hsl(216deg 20% 40%);
  padding: 0 0.85rem 0 1.42rem;
  font-size: 1.56rem;
  outline: 0 !important;
  transition: 0.2s;
}

section.chat-orcamentos div.content div.chat div.footer button.send:hover {
  opacity: 0.6;
}

section.chat-orcamentos div.content div.chat:has(> img.empty) div.header,
section.chat-orcamentos div.content div.chat:has(> img.empty) div.footer {
  display: none;
}

section.chat-orcamentos div.content div.chat ul.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(90vh - 8rem - 5.56rem - 4.42rem);
  max-height: calc(90vh - 8rem - 5.56rem - 4.42rem);
  padding: 2rem 10% 5rem;
  margin-top: 5.56rem;
  overflow-y: scroll;
}

section.chat-orcamentos div.content div.chat ul.chat::-webkit-scrollbar-track {
  background-color: transparent;
}

section.chat-orcamentos div.content div.chat ul.chat::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

section.chat-orcamentos div.content div.chat ul.chat::-webkit-scrollbar-thumb {
  background: #fff;
}

section.chat-orcamentos div.content div.chat ul.chat li {
  margin-bottom: 0.42rem;
  max-width: 64%;
}

section.chat-orcamentos div.content div.chat ul.chat li.right_ {
  padding: 0.56rem 6rem 0.56rem 0.85rem;
  background: var(--color-secondary);
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-self: flex-end;
  border-radius: 0.56rem 0 0.56rem 0.56rem;
  position: relative;

  /* box-shadow: 0 0.07rem 0.07rem 0 rgb(0 0 0 / 24%); */
  filter: drop-shadow(0 0.14rem 0 rgb(0 0 0 / 12%));
}

section.chat-orcamentos div.content div.chat ul.chat li.left_ {
  padding: 0.56rem 6rem 0.56rem 0.85rem;
  background: hsl(274deg 91% 100%);
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-self: flex-start;
  border-radius: 0.56rem 0 0.56rem 0.56rem;
  position: relative;

  /* box-shadow: 0 0.07rem 0.07rem 0 rgb(0 0 0 / 24%); */
  filter: drop-shadow(0 0.14rem 0 rgb(0 0 0 / 12%));
}

section.chat-orcamentos div.content div.chat ul.chat li.right_::before {
  content: "";
  border-top: 0 solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid var(--color-secondary);
  position: absolute;
  top: 0;
  left: calc(100% - 0.28rem);
}

section.chat-orcamentos div.content div.chat ul.chat li.left_::before {
  content: "";
  border-top: 0 solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid hsl(274deg 91% 100%);
  position: absolute;
  top: 0;
  right: calc(100% - 0.28rem);
}

section.chat-orcamentos div.content div.chat ul.chat li.right_ span.hour,
section.chat-orcamentos div.content div.chat ul.chat li.left_ span.hour {
  position: absolute;

  /* right: 2rem; */
  right: 0.71rem;
  bottom: 0.28rem;
  opacity: 0.7;
  font-size: 0.85rem;
}

section.chat-orcamentos div.content div.chat ul.chat li.right_ span.check,
section.chat-orcamentos div.content div.chat ul.chat li.left_ span.check {
  position: absolute;
  right: 0.71rem;
  bottom: 0.28rem;
  opacity: 0.7;
  font-size: 0.85rem;
}

section.chat-orcamentos div.content div.chat ul.chat li.right_ span.check i,
section.chat-orcamentos div.content div.chat ul.chat li.left_ span.check i {
  display: none;
}

section.chat-orcamentos
  div.content
  div.chat
  ul.chat
  li.right_
  span.check:not(.read)
  i:first-child,
section.chat-orcamentos
  div.content
  div.chat
  ul.chat
  li.left_
  span.check:not(.read)
  i:first-child {
  display: inline-flex;
}

section.chat-orcamentos div.content div.chat ul.chat li.left_ span.check.read {
  color: var(--color-secondary);
}

section.chat-orcamentos div.content div.chat ul.chat li.right_ span.check.read {
  color: #fff;
  opacity: 1;
}

section.chat-orcamentos
  div.content
  div.chat
  ul.chat
  li.right_
  span.check.read
  i:last-child,
section.chat-orcamentos
  div.content
  div.chat
  ul.chat
  li.left_
  span.check.read
  i:last-child {
  display: inline-flex;
}

section.chat-orcamentos div.content div.chat ul.chat li.date {
  padding: 0.28rem 1rem;
  margin: 2rem 0 3rem;
  background: #fff;
  border-radius: 0.42rem;
  filter: drop-shadow(0 0.14rem 0 rgb(0 0 0 / 12%));
}

/*  */

section.chat-orcamentos div.content div.back_ {
  padding: 1rem 1.28rem 0.85rem;
  max-width: calc(100% - 1.56rem);
  border-bottom: 1px solid rgb(0 0 0 / 12%);
  position: relative;
}

@media (width >= 991px) {
  section.chat-orcamentos div.content div.back_ {
    max-width: 100%;
  }
}

section.chat-orcamentos div.content div.back_ .link {
  color: var(--color-secondary);
  background: transparent;
  border: 0;
  padding: 0;
  font-size: 1.56rem;
  font-weight: 700;
}

section.chat-orcamentos div.content div.back_ h6 {
  font-size: 1.14rem;
  font-weight: 600;
  position: absolute;
  top: calc(0.14rem + 50%);
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

@media (width >= 991px) {
  section.chat-orcamentos div.content div.back_ {
    min-height: 4.28rem;
  }

  section.chat-orcamentos div.content div.back_ .link {
    display: none;
  }

  section.chat-orcamentos div.content div.back_ h6 {
    text-align: left;
    position: absolute;
    left: 1.28rem;
    transform: translateY(-50%);
  }
}

/* responsive */

@media (width <= 991px) {
  section.chat-orcamentos div.content {
    flex-direction: column;
  }

  section.chat-orcamentos div.content div.chat ul.chat li {
    max-width: 80%;
  }

  section.chat-orcamentos div.content div.chat {
    display: none;
  }

  section.chat-orcamentos div.content div.chat.open {
    display: flex;
  }

  section.chat-orcamentos div.content div.chat-list {
    display: none;
  }

  section.chat-orcamentos div.content div.chat-list.open {
    display: block;
  }

  section.chat-orcamentos div.content div.chat:not(.open):has(> img.empty) {
    display: none;
  }
}
