section.background {
  min-height: 10rem !important;
}

.perfil-resumo__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-resumo__container {
  width: 90%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  margin: 0.75rem 0;
  background-color: var(--color-cinza);
  border-radius: 10px;
  color: var(--color-roxo);
}

.box-resumo_itens-left {
  width: 6rem;
}

.box-resumo_icon i {
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

.box-resumo_itens-left p {
  font-size: 0.8rem;
}

.box-resumo_itens-right p {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: right;
  font-weight: 600;
}

@media only screen and (width >= 1200px) {
  .perfil-resumo__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: 30rem 30rem;
  }
}

div.type-plan {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

div.type-plan span {
  padding: 0.56rem 1rem;
  display: inline-flex;
  background: var(--color-secondary);
  color: #fff;
  font-weight: 600;
  border-radius: 0.56rem;
}

@media screen and (width <= 500px) {
  .modal-assine-agora {
    width: 80% !important;
  }
}

@media screen and (width <= 991px) {
  main.dashboard section.resumo.resumo-profissional div.principal div.image {
    margin-top: -4rem !important;
  }

  main.dashboard section.resumo div.principal div.progress_ div.bar_ {
    text-align: center;
  }

  main.dashboard:has(> .resumo-profissional) section.background.slim {
    min-height: 8rem;
  }

  main.dashboard:has(> section.cursos) section.background:not(> .container) {
    min-height: 18rem !important;
  }
}

main.dashboard:has(> section.cursos)
  section.background.medium:not(> .container) {
  min-height: 18rem !important;
}

div.nivel_ {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.nivel_ span:first-child {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
}

div.nivel_ span:last-child {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.56rem;

  color: var(--color-secondary);
  font-weight: 600;
  font-size: 1.56rem;
}

#botao-aprenda {
  display: flex;
  justify-content: center;

  @media only screen and (width >= 768px) {
    display: none;
  }
}

#botao-aprenda a button {
  border: none;

  @media only screen and (width >= 768px) {
    border: 1px solid black;
    font-size: 10px;
  }
}
