.modalPlanos__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalPlanos_text {
  text-align: center;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  font-size: 1.15rem;
}

.modalPlanos_button {
  border: none;
  background-color: var(--color-roxo);
  color: var(--color-dourado);
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  transition: 0.5s;
}

.modalPlanos_button:hover {
  background-color: var(--color-dourado);
  color: var(--color-roxo);
  padding: 0.5rem 1.15rem;
}
