.border_custom {
  padding: 1.5rem;
  margin-top: 2rem;
  box-shadow: 0 0 0.75em rgb(0 0 0 / 30%);
  border-radius: 15px;
}

.space-vertical {
  padding: 2rem 0;
}

.dados-gerais {
  margin-top: -10rem !important;
}

.span_capa_indicador {
  border-radius: 0 5px 0 0;
  background-color: var(--color-roxo);
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  color: var(--color-dourado);
}

@media only screen and (width >= 768px) {
  .dados-gerais-contato,
  .dados-gerais-imagens,
  .dados-gerais-perguntas-relevantes {
    margin-top: -3rem !important;
  }
}

@media only screen and (width <= 768px) {
  .dados-gerais {
    margin-top: -9rem !important;
  }

  .background-dados-gerais {
    margin-top: 1rem !important;
  }

  .dados-gerais-contato,
  .dados-gerais-imagens,
  .dados-gerais-perguntas-relevantes {
    margin-top: -3rem !important;
  }
}
