.suporte_container h2 {
  font-size: 1rem;
}

@media only screen and (width >= 768px) {
  .suporte_container h2 {
    font-size: 1.5rem;
  }
}

.btn.btn-whatsapp {
  background: #04d361;
  border: 1px solid #04d361;
  color: #fff !important;
  padding: 0.85rem 2rem;
  display: inline-flex;
}

.btn.btn-whatsapp span {
  font-size: 1.42rem !important;
  color: #fff !important;
}

.btn.btn-whatsapp i {
  margin-top: 0 !important;
}

main.dashboard section.suporte div.content div.counters div.item {
  align-items: flex-start;
}

@media screen {
  .suporte-empresas {
    margin-top: -13rem !important;
  }
}
